# git ignore file
*.dll
*.exe
*.sdf
*.suo
*.pdb
*.filters
*.htm
*.aps
build*
buildfiles/Win32
buildfiles/x64
/.project
/CMakeUser.cmake
CMakeUser.txt
/x64
*.dir
/install/packages/plugins.x64.ReadFramework/meta/package.xml
